<app-logout></app-logout>
<h1 class="ui center aligned header tableTitle">Favorite List</h1>
<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>Program Name</th>
      <th>Program Type</th>
      <th>Program City</th>
      <th>Program Start Date</th>
      <th>Program End Date</th>
      <th>Program Start Time</th>
      <th>Program End Time</th>
      <th>Program Phone Number/ Email</th>
      <th>Program Cost</th>
      <th>Program Website</th>
      <th>Moved to Booked</th>
      <th>Remove from List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
