<app-header></app-header>

<div class="ui attached inverted message container auth">
  <div class="header">
    <h2 class="ui dividing inverted">Sign-up Today!</h2>
  </div>
  <form class="ui huge inverted auth form attached fluid segment" (ngSubmit)=OnSubmitSignup(f) #f="ngForm">
    <div class="field">
      <label>Name:</label>
      <div class="two fields">
        <div class="field">
          <input ngModel type="text" name="firstName" placeholder="First Name" required>
        </div>
        <div class="field">
          <input ngModel type="text" name="lastName" placeholder="Last Name" required>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>Email Address:</label>
          <input ngModel type="email" name="email" placeholder="Email" required>
        </div>
        <div class="field">
          <label>Password:</label>
          <input ngModel type="password" name="password" placeholder="Password" required>
        </div>
      </div>
    </div>
    <a routerLink="/login" routerLinkActive="active" class="redirectToLogIn">Already A Member?</a>
    <button class="ui inverted button" type="submit">Submit</button>
  </form>
</div>
