<app-logout></app-logout>
<h1 class="ui center aligned header tableTitle">Booked List</h1>
<table class="ui teal center aligned compact celled table">
  <thead>
    <tr>
      <th>Program Name</th>
      <th>Program Type</th>
      <th>Program City</th>
      <th>Program Start Date</th>
      <th>Program End Date</th>
      <th>Program Start Time</th>
      <th>Program End Time</th>
      <th>Program Phone Number/ Email</th>
      <th>Program Cost</th>
      <th>Program Website</th>
      <th>Move to Favorites</th>
      <th>Remove from List</th>
    </tr>
  </thead>
  <tbody *ngFor="let bookedCamp of bookedCamps">
    <tr>
      <td>{{bookedCamp.program_name}}</td>
      <td>{{bookedCamp.program_type}}</td>
      <td>{{bookedCamp.program_city}}</td>
      <td>{{bookedCamp.program_start_date | date:'shortDate'}}</td>
      <td>{{bookedCamp.program_end_date | date:'shortDate'}}</td>
      <td>{{bookedCamp.program_start_time}}</td>
      <td>{{bookedCamp.program_end_time}}</td>
      <td>{{bookedCamp.program_phone}}</td>
      <td>${{bookedCamp.cost}}</td>
      <td><a class="centered" href="{{bookedCamp.program_website}}">Website Link</a></td>
      <td><button class="tiny ui teal button">Move</button></td>
      <td><button class="tiny ui red button" (click)="onRemoveBookedCampByUser(bookedCamp)">Remove</button></td>
    </tr>
  </tbody>
</table>
