<app-logout></app-logout>

<div class="ui raised two cards container center aligned">
  <div class="red card">
    <div class="content">
      <i class="big find icon"></i>
      <div class="ui header cardHeader">See All Camps</div>
      <div class="description">
        A list of all of our youth camps.
      </div>
    </div>
    <div routerLink="/user/:id/camps" class="ui bottom attached button">
      <i>Click Here!</i>
    </div>
  </div>
  <div class="red card">
    <div class="content">
      <i class="big empty star icon"></i>
      <div class="ui header cardHeader">Favorites List</div>
      <div class="description">
        Your custom 'favorites' list that you created.
      </div>
    </div>
    <div routerLink="/user/:id/favorites" class="ui bottom attached button">
      <i>Click Here!</i>
    </div>
  </div>
  <div class="red card">
    <div class="content">
      <i class="big checkmark box icon"></i>
      <div class="ui header cardHeader">Booked List</div>
      <div class="description">
        Your list of camps that you've already booked.
      </div>
    </div>
    <div routerLink="/user/:id/booked" class="ui bottom attached button">
      <i>Click Here!</i>
    </div>
  </div>
  <div class="red card">
    <div class="content">
      <i class="big calendar icon"></i>
      <div class="ui header cardHeader">Camp Calendar</div>
      <div class="description">
        Your 'favorite' and 'booked' camps in calendar form.
      </div>
    </div>
    <div routerLink="/user/:id/calendar" class="ui bottom attached button">
      <i>Click Here!</i>
    </div>
  </div>
</div>
