/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e8eaed;
}

#main {
  min-height: 100vh !important;
}

.menu {
  background-color: #94C3E9 !important;
}

.auth {
  background-color: grey !important;
}

.companyName {
  font-family: 'Luckiest Guy', cursive !important;
  font-size: 4em !important;
  margin-bottom: 0 !important;
  color: #AF2729 !important;
}

.campTable {
  margin-top: 0 !important;
}

.toList, .success {
  margin: 0 5px !important;
}

button {
  margin: 1em 0 !important;
}

.redirectToLogIn, .redirectToSignUp {
  color: black;
  text-decoration: underline;
  margin-right: 1em !important;
}

.redirectToLogIn:hover, .redirectToSignUp:hover {
  color: #fff;
  text-decoration: underline;
}

.card {
  padding: 20px !important;
  font-size: 1.5em !important;
  line-height: 1.25em !important;
}

.card {
  background-color: #9C9C9E !important;
  margin-top: 5% !important;
}

.cardHeader {
  font-family: 'Saira', sans-serif !important;
  font-size: 1.75em !important;
  color: #AF2729 !important;
}

.companyInfo {
  background-color: grey !important;  
  margin: 5% 10% !important;
  color: #fff;
}

.tableTitle, .calenderTitle {
  font-size: 4em !important;
  font-family: 'Saira', sans-serif !important;
  text-decoration: underline;
  color: #737373 !important;
  margin: 30px 0 !important;
}

.footer {
  margin-top: 20px !important;
}
