/* You can add global styles to this file, and also import other style files */
body {
  background-color: #d6dbda;
}

.menu {
  background-color: #94C3E9 !important;
}

.companyName {
  font-family: 'Luckiest Guy', cursive !important;
  font-size: 4em !important;
  margin-bottom: 0 !important;
  color: #01916f !important;
}

.campTable {
  margin-top: 0 !important;
}

.toList {
  margin: 0 5px !important;
}

button {
  margin: 1em 0 !important;
}

.redirectToLogIn, .redirectToSignUp {
  text-decoration: underline;
  margin-right: 1em !important;
}

.redirectToLogIn:hover, .redirectToSignUp:hover {
  color: #41c7f4;
  text-decoration: underline;
}

.card {
  padding: 20px !important;
  font-size: 1.5em !important;
  line-height: 1.25em !important;
}

.card, .companyInfo {
  background-color: #93e2d5 !important;
  margin-top: 5% !important;
}

.cardHeader {
  font-family: 'Saira', sans-serif !important;
}

.companyInfo {
  margin: 5% 10% !important;
  background-color: #c3e2db !important;
}

.tableTitle, .calenderTitle {
  font-size: 4em !important;
  font-family: 'Saira', sans-serif !important;
  text-decoration: underline;
  margin: 30px 0 !important;
}
