<app-header></app-header>

<div class="ui huge center-aligned segment companyInfo">
  <h1>Find. Compare. Book. Done.</h1>
  <div class="ui fitted divider"></div>
  <p>For parents, finding and booking camps for kids can be difficult and frustrating.
    This app changes that!  No more Internet searching, hounding friends for recommendations,
    or getting camp information from the crumpled flyer in your child's backpack.</p>
  <p>KidCampGuide is an online marketplace connecting camps with the people who
    want to use them.  See all of the options, search based on your availability,
    register one time only, and book all of your camps in one place.</p>
  <p>You can find camp options you may not have been aware of, you'll know when
    camps open up their registrations, and you'll know when they have last minute
    availability for when an unexpected business trip throws a wrench in your schedule.
    You'll also be able to connect to your social circles, so you'll know that
    Susie and Erica are doing the soccer camp next week, in case you want to sign
    up too.</p>
</div>
